body{
    margin: 0; 
    padding: 0;
}
#constructor{
    width:500px;
}
#constructor>div{
    padding:15px 0;
    display: flex;
    justify-content: flex-start;
}
#constructor>div>span{
    width:100px;
}
#save, #clear{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    margin: 30px 0;
    border: none;
}
#age, #experience{
    width:25px;
}
#save{
    background-color: #03a6ec;
}

#clear{
    background-color: #ccc;
}